@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {
    --color-brand-navy: #0f2548;
    --color-brand-orange: #ea580c;
}



/* Hero Animations */

.fade-text {
    text-align: center;
    animation: fadeInOut 4s forwards;
    letter-spacing: 2px;
}

.fade-text.delay {
    animation: fadeInOut 4s forwards 4s;
    z-index: 100;
}


.underbar {
    border-radius: 2px;
    animation: barFade 4s forwards 4s;
}


@keyframes barFade {

    /* Always keep -50% to maintain the center horizontal alignment */
    0% {
        height: 0;
        opacity: 0;
        transform: translateY(0) translateX(35%);
    }

    50% {
        height: 25px;
        opacity: 1;
        transform: translateY(0) translateX(35%);
    }

    100% {
        height: 25px;
        opacity: 1;
        transform: translateY(5px) translateX(35%);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}


/* Main form */
.form-step {
    animation: slideIn 0.5s forwards;
}

.form-step.active {
    display: block;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* Video Play Animation */

.play-pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}